<?xml version="1.0" encoding="UTF-8"?>
  <beans xmlns="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:context="http://www.springframework.org/schema/context"
         xmlns:aop="http://www.springframework.org/schema/aop"
         xmlns:tx="http://www.springframework.org/schema/tx"
         xmlns:mvc="http://www.springframework.org/schema/mvc"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd">

  <import resource="spring-service.xml"/>

  <!--扫描controller层下的包-->
  <context:component-scan base-package="com.test.web"/>

  <!--视图解析器-->
  <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix" value=""/>
    <property name="suffix" value=""/>
  </bean>

  <!--处理器映射器-->
  <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    <property name="mappings">
      <props>
           <!--这里是一个controller类的路由,相当于是作用于类上面的@RequestMapping-->
           <prop key="/queryItems1">userController</prop>
      </props>
    </property>
  </bean>

  <bean id="userController" class="com.test.web.UserController">
    <property name="userService" ref="userService"/>
    <!--name写每一个接口的路由 ref写接口对应的方法名称吗-->
   <!-- <property name="/test" ref="getUser"/>-->
  </bean>

  <!--非注解的处理器适配器-->
  <bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter"/>

 <!-- <bean id="builder" class="org.springframework.web.servlet.mvc.method.annotation.MvcUriComponentsBuilder">
    <constructor-arg ref="uriComponentsBuilder"/>
  </bean>

  <bean id="uriComponentsBuilder" class="org.springframework.web.util.UriComponentsBuilder"></bean>-->
</beans>