<?xml version="1.0" encoding="UTF-8"?>
  <beans xmlns="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:context="http://www.springframework.org/schema/context"
         xmlns:aop="http://www.springframework.org/schema/aop"
         xmlns:tx="http://www.springframework.org/schema/tx"
         xmlns:mvc="http://www.springframework.org/schema/mvc"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--配置解析properties文件的工具类-->
    <context:property-placeholder location="jdbc.properties"/>

    <!--注册数据源 读取四大参数-->
    <!--这里的property中的name属性都是固定的名字的吗??  为什么如果我使用uername 或者是其他的都是会报错的-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
      <property name="dataSource" ref="dataSource"/>
      <property name="typeAliasesPackage" value="com.test.entity"/>
      <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

    <!--扫描mapper的包-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
      <property name="basePackage" value="com.test.mapper"/>
    </bean>

  <!--配置spring的事物管理器-->
  <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource" />
  </bean>

  <!--配置事物  这里的意思是只要是get find开头的方法都支持事物 是这个意思-->
  <tx:advice id="transactionAdvice" transaction-manager="transactionManager">
    <tx:attributes>
      <tx:method name="get*" propagation="SUPPORTS"/>
      <tx:method name="find*" propagation="SUPPORTS"/>
      <tx:method name="select*" propagation="SUPPORTS"/>
      <tx:method name="load*" propagation="SUPPORTS"/>
      <tx:method name="search*" propagation="SUPPORTS"/>
    </tx:attributes>
  </tx:advice>

  <!--创建mapper的bean-->
  <!--创建service的bean-->

  <!--这里的id是不是一定就是路由,不过如果这里不是路由好像是没有太大意义的
      但是这里是不是相当于就是@RequestMapping中的路由是一个意思呢
      那如果是这样的话 处理器映射器那里的路由又代表什么呢 啊啊啊
      而且,如果这样把spring的配置文件分成3个 如果三层的每个bean都放在不同的配置文件中
      那怎么引用的呢 ref直接写不会报错的的吗(这个是需要用import引入的把)
  -->

</beans>