<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.test.mapper.UserMapper">
  <insert id="addUser" parameterType="com.test.entity.User">
    insert into springDemo(id,name,sex,age)
    values(null,#{user.name},#{user.sex},#{user.age})
  </insert>
</mapper>